<center>
<font size="10" color= "white" face="Arial">MOB OF GOD</font>
<Font size="3" color= "white" face="Arial">Follow us</font>
<a href="http://www.facebook.com/pages/Mob-of-God/181335166099?ref=ts"><img src="images/images.jpeg" alt="Facebook" border=0/></a>
<a href="http://www.youtube.com/mobofg"><img src="images/youtube.jpg" alt="You Tube" border=0/></a>
<br/>
<img src="images/mog.jpg" alt="Mob of God"/>
</center>


				
			
			
			
	

