<table>
	<tr>
		<td rowspan = 4>
			<img src="images/mog.jpg" alt="Mob of God"/>
		</td>
		<td>
		</td>
	</tr>

	<tr valign="top">
		<td NOWRAP>
			<Font size="2" color= "white">MOB OF GOD</font>
			<br/>
			<center><Font size="1" color= "white">Follow us</font></center>
			<br/>
			<a href="http://www.facebook.com/pages/Mob-of-God/181335166099?ref=ts"><img src="images/images.jpeg" alt="Facebook" border=0/></a>
			<br/>
			<a href="http://www.youtube.com/mobofg"><img src="images/youtube.jpg" alt="You Tube" border=0/></a>	
			
			
			
		</td>
	<tr>
	
	<tr>
		<td>
			
		</td>
	<tr>

	<tr>
		<td>
		</td>
	<tr>

	<tr>
		<td>
		</td>
	<tr>
</table>


